SegmentedProgressBar.xcodeproj/project.xcworkspace/xcuserdata/gongxiaopeng.xcuserdatad/UserInterfaceState.xcuserstate
SegmentedProgressBar.xcodeproj/xcuserdata/gongxiaopeng.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
